body {
    background-color: #fcab8a;
}

.header{
    font-family: "Monotype Corsiva", cursive;
    width: 100%;
}

.name {
    font-family: inherit;
    font-size: 50px;
    font-style: oblique;
    padding-left: 1em;
    font-weight: bold;
}

.numbers {
    text-align: right;
    font-size: 25px;
}

.center{
    display: block;
    margin: auto;
    text-align: center;
}

svg {
    width: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 2em;
}

#x-slider.x-slider{
    margin: auto;
}

input#submit{
    background-color: #fc805f;
    border-width: 1px;
    border-radius: 3px;
    height: 25px;
}

#form {
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.result-table td{
    border: 1px solid black;
    padding: 3px;
}

table.result-table {
    border-width: 1px;
    width: 72%;
    margin: auto;
}